@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Bungee','Montserrat',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #0C090A, #252525); /* angle, top and bottom colour*/
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px); /*adds blurred glass effect */
}
.container::before{
    content:'';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px; /* making a square*/
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1; /* overlapping  element*/

}

.container::after{
    content:'';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%; /* making a circle*/
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1; /* overlapping  element*/


}

.clock span{
    font-size: 120px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.header{
    font-size: 75px;
    text-align: center;
    position: relative;
    font-palette: light;
    font-family: 'Poppins', 'Bungee','Montseratt', sans-serif;
    color: #fff;
}
  .mini-card {
    width: 300px;
    min-height: 400px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0;
    z-index: 1;
  }
.header-card {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    width: 110px;
    font-size: 32px;
    margin-right: 1rem;
    left:70px;
    top:-50px;
    text-align: center;
    position:relative;
    color: #fff;
}
.mini-card:hover {
      transform: translate(0, -1rem);
}
